---
layout: default
---

<div class="row">
  <div class="col-sm-8 blog-main">
    {% for post in site.posts %}
    <div class="blog-post">
      <h2 class="blog-post-title">{{ post.title }}</h2>
      <p class="blog-post-meta">{{ post.date | date: "%b %-d, %Y"}} by <a href="{{ post.email | prepend: "mailto:"}}">{{ post.author }}</a> in {% for category in post.categories %}
        <em>{{ category }}</em>
      {% endfor %}</p>
      {{ post.content }}
    </div>
    {% endfor %}
  </div>
</div>
