<div class="row">
	<footer class="col-md-10">
  		<p>Built with <a href="http://getbootstrap.com">Bootstrap</a> by <a href="https://twitter.com/robertiagar">@robertiagar</a>.</p>
  		<p>&copy; 2014 - Robert Iagar
  		<p>
		    <a href="#">Back to top</a>
	  	</p>
	  	<p>
		    <a href="http://sendcoins.to/robertiagar" class="btn btn-primary"><i class="fa fa-btc"></i> Send me Bitcoin</a>
			<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
				<input type="hidden" name="cmd" value="_s-xclick">
				<input type="hidden" name="hosted_button_id" value="MZHS6TH5PR8HQ">
				<button type="submit" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!" class="btn btn-primary">
					<i class="fa fa-paypal"></i> Donate
				</button>
				<!--<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">-->
			</form>
	  	</p>
	</footer>
</div>
