<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ site.url }}}">{{ site.title }}</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
            	<li><a href="{{ "/" | site.baseurl }}"><i class="fa fa-home"></i> Home</a></li>
      			<li><a href="{{ "/about/" | prepend: site.baseurl }}"><i class="fa fa-about"></i> About</a></li>
            </ul>
        </div>
    </div>
</div>