<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ site.url }}">{{ site.title }}</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
            	<li><a href="{{ "/" | site.baseurl }}"><i class="fa fa-home"></i> Home</a></li>
      			<li><a href="{{ "/about/" | prepend: site.baseurl }}"><i class="fa fa-info"></i> About</a></li>
				<li><a href="{{ "/feed.xml" | prepend: site.baseurl }}"><i class="fa fa-rss"></i> Feed</a></li>
				
            </ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="http://sendcoins.to/robertiagar"><i class="fa fa-btc"></i> Send me Bitcoin</a></li>
				<li><a href="javascript:$('#paypal').submit();"><i class="fa fa-paypal"></i> Donate PayPal</a></li>
				<li>
					<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" id="paypal">
						<input type="hidden" name="cmd" value="_s-xclick">
						<input type="hidden" name="hosted_button_id" value="MZHS6TH5PR8HQ">
						<!-- <button type="submit" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!" class="btn btn-default">
							<i class="fa fa-paypal"></i> Donate PayPal
						</button> -->
						<!--<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">-->
						</form>
					</div>
				</li>
				
			</ul>
        </div>
    </div>
</div>
{% include jumbotron.html %}