---
layout: project31
type: page
title: Project 31
description: >
       This started out as photography project to improve my photography. I wanted to take a picture each day of the year 2015. I've only made it to 31 days out of 365. Much more than I anticipated.
---
<div  id="container">
	<div class="item">
		<p>
			{{ page.description }}
		</p>
	</div>
	{% for photo in site.project31 %}
	<div class="item">
		<img src="{{ photo.img-name | prepend: '/assets/images/project31/' }}"/>
		<div class="info">
			<h1>{{ photo.name }}</h1>
			<p>{{ photo.edited-in }}</p>
		</div>
	</div>
	{% endfor %}
	<div class="item">
		{% include google-ads.html %}
		<div class="info">
			<h1>Support ads</h1>
		</div>
	</div>
</div>