<!DOCTYPE html>
<html>
  {% include head.html %}
    <body>
    {% include header.html %}
    {% include jumbotron.html %}
    <div class="container">
      {{ content }}
      {% include footer.html %} 
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
    {% include image-script.html %}
    {% include disqus-count.html %}
    </body>
</html>