---
layout: default
---

<div class="jumbotron jumbotron-large">
	<div class="container">
		<img class="img-circle" src="/assets/images/bg.jpg"/>
		<h1>{{ page.title }} <small>in {{ page.category }}</small></h1>
		<h2>By <a href="{{site.email | prepend: "mailto:"}}">{{ site.author }}</a> | {{ page.date | date_to_string}}<h2>
		<p>
			{% for tag in page.tags %}
				<a href="#"><span class="badge">{{ tag }}</span></a>
			{% endfor %}
		</p>
	</div>
</div>

<div class="row">
	<div class="col-md-offset-1 col-md-10">
		{{ content }}
	</div>
<div>