---
layout: default
---

<div class="row">
	<article class="col-md-9">
		{{ content }}
	</article>
	<div class="col-md-3">
		{% include google-ads.html %}
	</div>
</div>

{% include hr-9.html %}

<div class="row">
	<div class="col-md-9">
		{% include related.html %}
	</div>
</div>

<div class="row">
	<div class="col-md-9">
		{% include previous-next-links.html %}
	</div>
</div>

{% include hr-9.html %}

<div class="row">
	<div class="col-md-9">
		{% include disqus.html posturl=page.url posttitle=page.title %}
	</div>
</div>
